<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-xs-12 text-center">
        <h2 class="display-3">Type an url</h2>
        <div class="info-form">
            <form method="get" action="/qrmain/showqrcode" class="justify-content-center">
                <div class="form-group">
                    <input name="url" id="url" type="text" class="form-control" placeholder="Type an url">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ">Get my QR code</button>
                </div>
             </form>
        </div>
        <br>

        <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">↓</a>
    </div>
</div>